.ecommerce {
    column-gap: 5px;

    .ecommerce-top {
        display: flex;
        width: 1410px;
        margin: auto;
        justify-content: space-between;
        margin-bottom: 30px;

        h4 {
            font-size: 24px;
            text-align: start;
            font-weight: 600;
            margin: 0;
        }

        .right {
            display: flex;
            column-gap: 20px;

            .search {
                display: flex;
                align-items: center;
                padding: 0 20px;
                column-gap: 20px;
                height: 33px;
                border-radius: 16px;
                background: #eef3ef;

                input {
                    border: none;
                    background-color: #ffffff00;
                }
            }

            .sort,
            .add-product {
                display: flex;
                align-items: center;
                padding: 0 20px;
                column-gap: 20px;
                height: 33px;
                border-radius: 16px;
                background: #acea85;

                p {
                    font-size: 16px;
                }
            }
        }
    }

    .ecommerce-content {
        .block {
            width: 1420px;
            margin: auto;

            .title {
                font-size: 24px;
                color: #f07c74;
                font-weight: 800;
                letter-spacing: -2px;
                margin-top: 20px;
            }
        }

        .header {
            display: flex;
            font-size: 20px;
            font-weight: 500;

            div {
                font-size: 20px;
            }
        }

        .del {
            width: 50px;
        }

        .image {
            width: 70px;
            text-align: start;

            img {
                width: 59px;
                height: 59px;
                border-radius: 10px;
            }
        }

        .name {
            width: 185px;
            font-size: 20px;
            text-align: start;
            margin-left: 30px;
        }

        .description {
            text-align: start;
            font-size: 15px;
            width: 500px;
            margin-left: 30px;
        }

        .date {
            width: 150px;
        }
        .sales {
            margin-left: 50px;
            width: 200px;
        }

        .item {
            width: 100%;
            background: #f4fef3;
            border-radius: 20px;
            display: flex;
            margin-top: 20px;
            padding: 10px 0;

            div {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
