.financials {
    .financials-top {
        display: flex;
        justify-content: space-between;
        width: 1410px;
        margin: auto;

        .search {
            display: flex;
            align-items: center;
            padding: 0 20px;
            column-gap: 20px;
            height: 33px;
            border-radius: 16px;
            background: #eef3ef;

            input {
                border: none;
                background-color: #ffffff00;
            }
        }
    }
}
