.publisher {
    width: 1400px;
    margin: 100px auto 0;
    padding-bottom: 100px;

    .row {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .col {
        width: calc(33% - 50px);
        padding: 35px 22px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        backdrop-filter: blur(90px);
        border: 1px solid white;

        .title {
            font-size: 38px;
            margin-top: 0px;
            margin-bottom: 20px;
            text-align: start;
            font-weight: 400;
        }

        &.white {
            background-color: #ffffff82;

            .item {
                color: #a7aaa7;
                font-size: 24px;
                margin-top: 30px;
                cursor: pointer;
            }
        }

        &.articles {
            .item {
                margin-top: 20px;
            }

            .name {
                text-decoration: underline;
                font-size: 22px;
                line-height: 30px;
                font-weight: 400;
                text-align: start;
                margin: 0;
                cursor: pointer;
            }

            .content {
                font-size: 16px;
                color: #a7aaa7;
                line-height: 24px;
                text-align: start;
            }
        }
    }

    .article {
        width: calc(100% - 80px);
        background-color: #f2f2ea;
        border-radius: 20px;
        border: 1px solid white;
        padding: 40px;
        margin-top: 20px;

        .title {
            text-align: start;
            font-size: 25px;
            font-weight: 500;
            text-decoration: underline;
            margin: 0;
        }

        .info {
            display: flex;
            font-size: 15px;
            font-weight: 500;
            text-decoration: underline;
            margin-top: 10px;
        }

        .content {
            display: flex;
            justify-content: space-between;
            margin-top: 25px;

            .img {
                width: 131px;
                height: 184px;
                border-radius: 24px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .text {
                width: calc(100% - 180px);
                font-size: 25px;
                font-weight: 300;
                text-decoration: underline;

                p {
                    text-align: start;
                    margin-top: 0;
                    letter-spacing: -2px;
                    line-height: 30px;
                }
            }
        }
    }
}
